In [14]:
#import dependencies
import pandas as pd
import csv
import os

In [15]:
#upload csv file
PyPoll_df = pd.read_csv(r"C:\Users\marcu\OneDrive\Desktop\Python_Challenge1\Python-Challenge1\PyPoll\Election_Data.csv")
PyPoll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [17]:
Total_Votes = PyPoll_df['Voter ID'].count()
Total_Votes

1048575

In [16]:
PyPoll_df['Candidate'].value_counts()

Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [44]:
#Find the total number of votes per candidate
Candidate_Numbers = PyPoll_df['Candidate'].value_counts()
Candidate_Numbers

Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [37]:
#Find the percentage of votes cast for each candidate
Percent = round(Candidate_Numbers.div(Total_Votes)*100, 2)
Percent

Khan        63.09
Correy      19.94
Li          13.96
O'Tooley     3.01
Name: Candidate, dtype: float64

In [33]:
#Determine the winner based on the highest percentage of votes
Winner = PyPoll2_df.idxmax()
print('Winner: ' + str(Winner))

Winner: Khan

In [59]:
#create a dataframe
PyPoll3_df = pd.DataFrame({'Khan':['63.09%','661583'],
                          'Correy':['19.94%', '209046'],
                          'Li':['13.96%','146360'],
                          "OTooley":['3.01%','31586']})
PyPoll3_df

     Khan  Correy      Li OTooley
0  63.09%  19.94%  13.96%   3.01%
1  661583  209046  146360   31586

In [61]:
#transpose the index and columns

PyPoll4_df = PyPoll3_df.T
PyPoll4_df

              0       1
Khan     63.09%  661583
Correy   19.94%  209046
Li       13.96%  146360
OTooley   3.01%   31586

In [62]:
Output = (f"Election Results\n"
         f"-------------------\n"
         f"Total Votes: {Total_Votes}\n"
         f"-------------------\n"
         f"Candidate Totals:\n"
          f"{PyPoll4_df}\n"
         f"-------------------\n"
          f"Winner:{Winner}\n"
          f"------------------\n")
         
print(Output)

Election Results
-------------------
Total Votes: 1048575
-------------------
Candidate Totals:
              0       1
Khan     63.09%  661583
Correy   19.94%  209046
Li       13.96%  146360
OTooley   3.01%   31586
-------------------
Winner:Khan
------------------

In [63]:
Election_Results = os.path.join("ElectionResults.txt")

#export to txt file
with open(Election_Results, "w") as txt_file:
    txt_file.write(Output)