In [2]:
import pandas as pd
import os
import csv

In [3]:
# upload csv file into a dataframe
PyBank_df = pd.read_csv(r"C:\Users\marcu\OneDrive\Desktop\Python_Challenge1\Python-Challenge1\PyBank\Budget_Data.csv")
PyBank_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [4]:
# Calculate the total months
Total_Months = PyBank_df['Date'].count()

In [5]:
# Calculate the total profit and loss
Total = PyBank_df['Profit/Losses'].sum()

In [6]:
# Calculate the Greatest Increase
PyBank2_df = PyBank_df
PyBank2_df = PyBank2_df.rename(columns = {"Profit/Losses":"Profits"})
Increase_Decrease = PyBank2_df.Profits.diff()
PyBank2_df["Increases"] = Increase_Decrease
PyBank2_df.head()

     Date  Profits  Increases
0  Jan-10   867884        NaN
1  Feb-10   984655   116771.0
2  Mar-10   322013  -662642.0
3  Apr-10   -69417  -391430.0
4  May-10   310503   379920.0

In [9]:
#Calculate the Average Change
Average_Change = round(PyBank2_df['Increases'].mean(), 2)
Average_Change

-2315.12

In [10]:
#greatest_Increase and Decrease
Greatest_Increase = PyBank2_df["Increases"].max()
Greatest_Decrease = PyBank2_df["Increases"].min()

In [11]:
Output = (f"Financial Analysis\n"
          f"----------------------\n"
         f"Total Months: {Total_Months}\n"
         f"Total: $ {Total}\n"
         f"Average Change: $ {Average_Change}\n"
         f"Greatest Increase: $ {Greatest_Increase}\n"
         f"Greatest Decrease:$ {Greatest_Decrease}\n")
print(Output)

Financial Analysis
----------------------
Total Months: 86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase: $ 1926159.0
Greatest Decrease:$ -2196167.0

In [12]:
Financial_Analysis = os.path.join("FinancialAnalysis.txt")

#export to txt file
with open(Financial_Analysis, "w") as txt_file:
    txt_file.write(Output)