In [25]:
import pandas as pd
import os
import csv

In [30]:
# upload csv file into a dataframe
PyBank_df = pd.read_csv(r"C:\Users\marcu\OneDrive\Desktop\Python_Challenge1\Python-Challenge1\PyBank\Budget_Data.csv")
PyBank_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [37]:
# Calculate the total months
Total_Months = PyBank_df['Date'].count()

In [39]:
# Calculate the total profit and loss
Total = PyBank_df['Profit/Losses'].sum()

In [44]:
Average_Change = round(PyBank_df['Profit/Losses'].mean(), 2)

In [ ]:
for i in row
Greatest_Increase

In [45]:
print("Total Months: " + str(Total_Months))
print("Total: $" + str(Total))
print("Average Change: $" + str(Average_Change))

Total Months: 86
Total: $38382578
Average Change: $446309.05